.register_page_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* text-align: center;
    align-items: center; */
    margin-top: 30px;
    margin-bottom: 20px;
}

.login_with {
    display: grid;
    grid-template-rows: 1fr;
}

.login_input {
    margin-top: 5px;
    height: 35px;
}

.container_login_btn {
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-left: 55px;
    margin-top: 20px;
}

.login_btn {
    display: flex;
    height: 35px;
    width: 150px;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    background-color: #25242a;


    color: white;
    font-size: 18px;
    border-radius: 3px;
    margin-left: -50px;
}

.login_btn:hover {
    color: rgb(255, 255, 255);
    background-color: brown;
}

.buttonGoogle{
    display: flex;
    height: 40px;
    width: 70%;
    margin-left: 75px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border-color: white;
}

.buttonGoogle:hover {
    color: rgb(255, 255, 255);
    background-color: brown;
}

.iconGoogle{
    position: relative;
    left: -30px;
}
.signin{
    position: relative;
    left: -40px;
}

.label_type {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.login_message {
    background-color: brown;
    color: white;
    border-radius: 3px;
}