.service-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-left: 20%;*/
    
    width: 60%;
    margin: auto;
    margin-top: 10%; 
    border: 1px solid black;
    

    
}
.service-container div{
    width: 50%;
    text-align: center;
}
