.remove-from-wish-list-btn {
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(208, 0, 0);
    color: rgb(251, 251, 251);
    margin-right: 10px;
    margin-left: 10px;
}

.remove-from-wish-list-btn:hover {
    background-color: rgb(255, 0, 0);
    border-color: white;
    cursor: pointer;
}

.whislist_btns {
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
}

/* @media (min-width: 768px) {
    .wishlist-grid {
    grid-template-columns: repeat(1, 4fr);
    }
}

@media (min-width: 960px) {
    .wishlist-grid {
    grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .wishlist-grid {
    grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1400px) {
    .wishlist-grid {
    grid-template-columns: repeat(4, 1fr);
    }
} */