* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
  
    
}

.sub-container{
    display: grid;
    grid-template-columns: 1fr;
    /* border: 1px solid black; */
    /* padding: 100px; */
    margin-top: 50px;
    margin-bottom: 50px;

}

.product-image-home {
    width: 350px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 10px rgb(29, 26, 26);
}

.header_Product_text {
    text-align: center;
    background-color: rgb(6, 37, 110);
    color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 30px 15px rgb(29, 26, 26);
    height: 60px;
    align-items: center;
    padding-top: 10px;
}

.slider {
    width: 100%;
    position: relative;
    top:-50px;
}

.image_slider {
    height: 300px;
}

.slider_text {
    display: flex;
    justify-content: center;
    justify-items: center;
    color: rgb(0, 0, 0);
    transition: transform .2s;
    position: relative;
    animation: websiteName 8s infinite;
    font-weight: 1000;
}

@keyframes websiteName {
    from {left: -500px;}
    to {left: 500px;}
}