* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container_deals{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 50px;
    margin-left: 40px;
    margin-right: 40px;
    cursor: pointer;
}

.sub-container{
    display: grid;
    grid-template-rows: 1fr;
    margin-bottom: 40px;
}

.product-image-home {
    border-radius: 10px;
    box-shadow: 5px 5px 20px 10px rgb(29, 26, 26);
}

.header_Product_text {
    text-align: center;
    background-color: #25242a;
    color: white;
    border-radius: 8px;
    box-shadow: 15px 15px 30px rgb(29, 26, 26);
    height: 60px;
    align-items: center;
    padding-top: 10px;
    transform: 0.3 s;
}

.header_Product_text:hover {
    background-color: brown;
    color: white;
}

.slider {
    width: 100%;
    position: relative;
    top:-50px;
}

.image_slider {
    height: 350px;
}

.slider_text {
    display: flex;
    justify-content: center;
    justify-items: center;
    color: rgb(0, 0, 0);
    transition: transform .2s;
    position: relative;
    animation: websiteName 8s infinite;
    font-weight: 1000;
}

@keyframes websiteName {
    from {left: -500px;}
    to {left: 500px;}
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
    }
.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;

}

.card{
	margin-left: 10px;
	margin-right: 10px;
}

.contact_info {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.contact_form_text {
    cursor: pointer;
    color: black;
    background: linear-gradient(to right, rgb(4, 4, 4) 0, green 10%, rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 10s infinite linear;
}

.contact_form_text:hover {
    color: green;
}

.text_info {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.header_form_text {
    cursor: pointer;
    color: black;
    background: linear-gradient(to right, rgb(4, 4, 4) 0, red 10%, rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 10s infinite linear;
}

.brands_info {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 20px;
}

.brands_text {
    cursor: pointer;
    color: black;
    background: linear-gradient(to right, rgb(4, 4, 4) 0, red 10%, rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 10s infinite linear;
}

.brand_container {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 40px;
    margin-bottom: 80px;
    margin-top: 40px;
}

.brand_img {
    width: 180px;
    height: 50px;
    border-radius: 8px;
}

.brand_img:hover {
    cursor: pointer;
}

.container_message {
    margin-bottom: 40px;
    margin-top: 20px;
}

@media (min-width: 600px) and (max-width: 800px) {
    .brand_container {
        display: flex;
        justify-content: center;
        justify-items: center;
        gap: 30px;
    }
    .brand_img {
        width: 40px;
        height: 20px;
        border-radius: 8px;
    }
}

@media (min-width: 801px) and (max-width: 1000px) {
    .brand_container {
        display: flex;
        justify-content: center;
        justify-items: center;
        gap: 30px;
    }
    .brand_img {
        width: 80px;
        height: 40px;
        border-radius: 8px;
    }
}

@media (min-width: 1001px) and (max-width: 1200px) {
    .brand_container {
        display: flex;
        justify-content: center;
        justify-items: center;
        gap: 20px;
    }
    .brand_img {
        width: 120px;
        height: 40px;
        border-radius: 8px;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .brand_container {
        display: flex;
        justify-content: center;
        justify-items: center;
        gap: 30px;
    }
    .brand_img {
        width: 140px;
        height: 50px;
        border-radius: 8px;
    }
}

@media (min-width: 1401px) and (max-width: 1500px) {
    .brand_container {
        display: flex;
        justify-content: center;
        justify-items: center;
        gap: 40px;
    }
    .brand_img {
        width: 160px;
        height: 50px;
        border-radius: 8px;
    }
}

@media (min-width: 1501px) and (max-width: 1700px) {
    .brand_container {
        display: flex;
        justify-content: center;
        justify-items: center;
        gap: 40px;
    }
    .brand_img {
        width: 180px;
        height: 60px;
        border-radius: 8px;
    }
}

@media (min-width: 1701px) and (max-width: 2000px) {
    .brand_container {
        display: flex;
        justify-content: center;
        justify-items: center;
        gap: 50px;
    }
    .brand_img {
        width: 190px;
        height: 60px;
        border-radius: 8px;
    }
}

@media (min-width: 2001px) and (max-width: 2100px) {
    .brand_container {
        display: flex;
        justify-content: center;
        justify-items: center;
        gap: 80px;
    }
    .brand_img {
        width: 200px;
        height: 60px;
        border-radius: 8px;
    }
}

@media (min-width: 2101px) and (max-width: 2200px) {
    .brand_container {
        display: flex;
        justify-content: center;
        justify-items: center;
        gap: 80px;
    }
    .brand_img {
        width: 220px;
        height: 60px;
        border-radius: 8px;
    }
}

@media (min-width: 2201px) and (max-width: 2400px) {
    .brand_container {
        display: flex;
        justify-content: center;
        justify-items: center;
        gap: 80px;
    }
    .brand_img {
        width: 240px;
        height: 60px;
        border-radius: 8px;
    }
}