.products{
    display: grid;
    grid-template-columns: repeat(5,auto);
    margin: 20px;
    margin-top: 50px; 
    gap: 20px;
    perspective: 1000px;
}
.cardProduct{
    display: grid;
    text-align: center;
    height: 300px;
    width: auto;
    box-shadow: 0 10px 8px 0 rgba(11, 11, 11, 0.2);
    perspective: 1000px; 
    background-color: transparent;
}

.sss{
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.cardProduct:hover .sss {
  transform: rotateY(180deg);
}

.imgproduct{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.imgproduct, .info {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.imgproduct {
  background-color: #bbb;
  color: black;
  position: absolute;
}

.info{
  background-color: #25242a;
  color: rgb(4, 4, 4);
  transform: rotateY(180deg);
  border-radius: 10px;
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.categoryAndSearch{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  background-color: #25242a;
  position: relative;
  top: -12px;
}

input[type=text] {
  width: 250px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  height: 30px;
}

input[type=text]:focus {
  width: 400px;
}

.category{
  display: flex;
  gap: 40px;
}

.range{
  text-align: center;
}

.inpurRange{
  width: 300px;
}

.product_title {
  margin-bottom: 10px;
  color: white;
}

.product_description {
  margin-bottom: 10px;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.product_price {
  margin-bottom: 10px;
  color: rgb(255, 0, 0);
  font-size: 15px;
  font-weight: 800;
}

.product_detailes_btns {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 700;
}

.product_detailes_btns:hover {
  color: rgb(255, 0, 0);
}


.title_product {
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgb(3, 3, 3);
}

.description {
  margin-bottom: 20px;
}

.price {
  margin-bottom: 20px;
}

.more_detailes_btn {
  border-radius: 4px;
  font-size: 16px;
  background-color: rgb(208, 0, 0);
  color: rgb(255, 255, 255);
}

.more_detailes_btn:hover {
  background-color: rgb(255, 0, 0);
  cursor: pointer;
}

.type_category {
  color: white;
  cursor: pointer;
}

.type_category:hover {
  color: red;
}

#filter {
  width: 300px;
  height: 40px;
}

.pagin {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.title_card {
  color: white;
}

.detailes_container {
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 10px;
}

@media (min-width: 600px) and (max-width: 800px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2,auto);
  }
  .product_title {
    display: none;
  }
  .product_description {
    margin-top: 30px;
  }
  .icons_show_detailes {
    display: none;
  }
  input {
    display: none;
  }
  .category {
    gap: 10px;
  }
}

 @media (min-width: 801px) and (max-width: 900px) {
  .products {
    display: grid;
    grid-template-columns: repeat(3,auto);
  }
  input {
    display: none;
  }
  .category {
    gap: 15px;
  }
  .icons_show_detailes {
    display: none;
  }
}

@media (min-width: 901px) and (max-width: 1103px) {
  .products {
    display: grid;
    grid-template-columns: repeat(4,auto);
  }
  input {
    display: none;
  }
  .category {
    gap: 25px;
  }
  .icons_show_detailes {
    display: none;
  }
}

@media (min-width: 1104px) and (max-width: 1250px) {
  .products {
    display: grid;
    grid-template-columns: repeat(4,auto);
  }
  .category {
    gap: 20px;
  }
  input {
    width: 100px;
  }
}

@media (min-width: 1251px) {
  .products {
    display: grid;
    grid-template-columns: repeat(5,auto);
  }
}
