.products{
    display: grid;
    grid-template-columns: repeat(5,230px);
    margin: auto;
    margin-top: 50px; 
    gap: 20px;
    justify-content: center;
}
.cardProduct{
  display: grid;
   text-align: center;
   /* border: 1px solid rgb(245, 243, 243); */
   height: 300px;
   width: auto;
   box-shadow: 0 10px 8px 0 rgba(11, 11, 11, 0.2);
   perspective: 1000px; 
   background-color: transparent;
}
.sss{
  position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.cardProduct:hover .sss {
  transform: rotateY(180deg);
}
.imgproduct{
  width: 250px;
  height: 250px;

  /* border:1px solid */
}
.imgproduct, .info {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.imgproduct {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.info{
  background-color: rgb(255, 255, 255);
  color: rgb(4, 4, 4);
  transform: rotateY(180deg);
}

.categoryAndSearch{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  justify-content: space-around;
  align-items: center;
  background-color: #25242a;
}

.category{
  display: flex;
  gap: 60px;
}

.range{
  text-align: center;
}

.inpurRange{
  width: 300px;
}

.product_title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.product_description {
  margin-bottom: 20px;
}

.product_price {
  margin-bottom: 20px;
}

.product_detailes_btns {
  color: black;

}

.image {
  width: 230px;
  height: 300px;
}

.title_product {
  margin-top: 30px;
  margin-bottom: 20px;
  color: black;
}

.description {
  margin-bottom: 20px;
}

.price {
  margin-bottom: 20px;
}

.more_detailes_btn {
  border-radius: 4px;
  font-size: 16px;
  background-color: rgb(208, 0, 0);
  color: rgb(251, 251, 251);
}

.more_detailes_btn:hover {
  background-color: rgb(255, 0, 0);
  cursor: pointer;
}

.search_input {
  width: 350px;
  height: 30px;
}

.type_category {
  color: white;
}

#filter {
  width: 300px;
  height: 40px;
}

.pagin {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 15px;
}