.container-detailes-product {
    display: grid;
    grid-template-columns: repeat(5,auto);
    background-color: white;
    margin-left: 15px;
    margin-bottom: 30px;
}

.image-product-detailess {
    width: 500px;
    height: 500px;
    margin-top: 40px;
}

.prduct-detailes-words {
    margin-top: 40px;
    width: 500px;
    height: auto;
    color: #000000;
}

.icon-love-product {
    margin-top: 40px;
}

.textt {
    color: black;
}

.fclike-icon {
    margin-bottom: 20px;
    cursor: pointer;
}

.detailess {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
}

.undo-icon{
    cursor: pointer;
}

.remove-from-wish-list {
  margin-top: 40px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #32373b;
  color: rgb(251, 251, 251);
  margin-right: 10px;
  margin-left: 80px;
  width: 180px;
}

.remove-from-wish-list-btns:hover {
  background-color: #0082e6;
  border-color: white;
  cursor: pointer;
}