.cardDetalis{
    display: flex;
    justify-content: center;
  gap: 50px;
  border: 1px solid;
  width: auto;
  /* justify-content: space-between; */

}
.imgDetails{
   width: 200px;
    
    border:1px solid
  }
  .containerDetails{
    display: grid;
    justify-content: center;


  }