/* .sidebars{
    background-color: #301111;
    width: 300px;
   
    
} */
.workerProfile{
   
    position: relative;
    top: -11px;
    left: 0px;
    display: flex;
    column-gap: 10px;
    background-color: #f0f0f0;
    width: 100%;

    
}
.contanirProfile{
    padding: 50px;
    position: relative;
    /* left: 300px; */
    width: 75%;
}
.py-5{
    position: relative;
    top: -150px;
    right: 350px;
}
.form-control{
    width: 400px;
}
.text{
    width: 500px;
}
#exampleFormControlTextarea1{
    height: 150px;
}
.divtext{
    position: relative;
    left: 20px;
    top: 20px;
}

#upload{
    width: 350px;
    height: 30%;
}
.button{
    position: relative;
    top: -90px;
    left: 30px;
}
.cc{
    position: relative;
    right: 70px;
}