.admin_users{
    width: 98%;
    margin: auto;
}
.row-admin{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 100%;
    border-bottom: 1px solid black;
    
}
.bold{
    font-size: 1.2rem;
    font-weight: bolder;
}
.row-admin1{
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    /* justify-content: space-between; */
}
.first{
    width: 5%;
    text-align: center
}
.second{
    width: 20%;
    text-align: center
}
.third{
    width: 20%;
    text-align: center
}
.fourth{
    width: 15%;
    text-align: center
}
.fifth{
    width: 20%;
    text-align: center
}
.sixth{
    width: 20%;
    margin: auto;
    text-align: center
}
.sixth button{
    margin-top: 5%;
}
.btn{
    width: 100%;
    position: relative;
}
.btns{
    position: absolute;
    top: 0;
    right: 8%
}
.change{
    background-color: rgb(236, 225, 225);
    padding: 10%;
    /* border: 1px rgb(143, 143, 161) solid; */
    border: none;
    /* color: rgb(22, 22, 82); */
    color: #0082e6;
    font-weight: bolder;
}
.number{
    padding: 10%;
    /* background-color: rgb(22, 22, 82); */
    color: white;
    /* border: 1px rgb(22, 22, 82) solid; */
    border: 1px #0082e6 solid;
    background-color: #0082e6;
}
.change:hover{
    transform: scale(1.05);
    transition: ease 0.1s;
}
.data h3{
    font-size: 1.1rem;
}
.admin{
    padding: 2%;
    color: white;
    background-color: #0082e6;
    border: none;
    border-radius: 10%;
    margin: 2%;
}
.admin:hover{
    transform: scale(1.1);
    transition: ease 0.1s;
}

@media (max-width: 900px){
    .bold{
        font-size: 1rem;
    }
    .data h3{
        font-size: 0.9rem;
    }
}
@media (max-width: 770px){
    .bold{
        font-size: 0.8rem;
        font-weight: bold;
    }
    .data h3{
        font-size: 0.7rem;
        font-weight: bold;
    }
    .first{
        width: 3%;
        text-align: center
    }
    .second{
        width: 30%;
        text-align: center
    }
    .third{
        width: 30%;
        text-align: center
    }
    .fourth{
        width: 12%;
        text-align: center
    }
    .fifth{
        width: 15%;
        text-align: center
    }
    .sixth{
        width: 5%;
        margin: auto;
        text-align: center
    }
}

.first{
    width: 5%;
    text-align: center
}
.second{
    width: 20%;
    text-align: center
}
.third{
    width: 20%;
    text-align: center
}
.fourth{
    width: 15%;
    text-align: center
}
.fifth{
    width: 20%;
    text-align: center
}
.sixth{
    width: 20%;
    margin: auto;
    text-align: center
}