/* .det h2{
    color: black;
}
.rowContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    border: 1px solid blue;
    align-items: center;
}
.rowContainer div{
    margin-top: 2%;
}
.det h2{
    text-align: center;

} */
.det{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    /* grid-template-columns: repeat(2, 50%); */
    margin-left: 4%;
    margin-top: 4%;
    margin-bottom: 4%;
}
.ser_box{
    width: 300px;
    border: 1px solid dimgray;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 2px 5px 10px rgb(126, 112, 112);
    margin-bottom: 10%;
}
.ser_box img{
    width: 100%;
    height: 100%;
}

.ser_content{
    background: rgba(0,0,0,0.8);
    position: absolute;
    color: white;
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding-top: 40%;
    transition: all 0.5s;
}
.ser_box:hover .ser_content{
    top: 0;
}
.ser_Btn{
    background-color: rgb(68, 60, 60);
    color: white;
    padding: 3%;
}

.ser_Btn:hover{
    transform: scale(1.04);
    transition: all 0.3s;
}

@media (max-width: 1100px){
    .det{
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        /* grid-template-columns: repeat(2, 50%); */
        margin-left: 2%;
        /* margin-top: 4%;
        margin-bottom: 4%; */
    }
}
@media (max-width: 1022px){
    .det{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        margin-left: 9%;
    }
}
@media (max-width: 855px){
    .det{
        margin-left: 6%;

    }
}
@media (max-width: 750px){
    .det{
        margin-left: 4%;

    }
}
@media (max-width: 700px){
    .det{
        display: grid;
        grid-template-columns: repeat(1, 100%);
        margin-left: 25%;
    }
}
@media (max-width: 500px){
    .det{
        margin-left: 20%;
    }
}
@media (max-width: 450px){
    .det{
        margin-left: 17%;
    }
}
@media (max-width: 420px){
    .det{
        margin-left: 15%;
    }
}