.register_page_container {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 100px;
}

.register_image {
    width: 650px;
    height: 650px;
}

.Register{
text-align: center;
display: grid;
justify-content: center;
 
}
.contanirRegister{
    display: grid;
    gap: 20px;
}
.inputRegister{
    display: grid;
    gap: 20px;
    

}
.threefirstinput{
display: flex;
gap: 20px;

}
.buttonRegister{
    text-align: left;
}