.register_page_container {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 100px;
}

.register_image {
    width: 650px;
    height: 580px;
}

.Register{
text-align: center;
display: grid;
justify-content: center;
margin-top: 30px;
}
.contanirRegister{
    display: grid;
    gap: 20px;
}
.inputRegister{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    

}
.threefirstinput{
display: grid;
grid-template-rows: 1fr 1fr 1fr;
gap: 15px;
}
.buttonRegister{
    text-align: center;
    margin-top: -20px;
}

.register_btn {
    background-color: rgb(19, 16, 59);
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 3px;
}

.register_input {
    width: 500px;
    height: 35px;
}

.twolasttinput {
    display: grid;
grid-template-rows: 1fr 1fr 1fr;
gap: 10px;
}

.login_header {
    color: black;
}

.register_btn:hover {
    color: rgb(255, 255, 255);
    background-color: brown;
}


@media (min-width: 600px) and (max-width: 1000px) {
    .register_page_container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .register_image {
        width: 400px;
        height: 400px;
        position: relative;
        left: 200px;
    }
    .login_header{
        position: relative;
        top: 30px;
   
    }
    .Register{
        position: relative;
        top: -150px;
        
    }
    .threefirstinput{
        position: relative;
        margin-top: 50px;
        margin-left: 100px;
    }
    .twolasttinput{
        position: relative;
        margin-left: 100px;
    }
   
   
}
@media only screen and (max-width: 600px) {
    .register_page_container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .register_image {
        width: 400px;
        height: 400px;
      
    }
    .login_header{
        margin-bottom: 20px;
        position: relative;
        text-align: left;
        margin-left: 100px;
    }
    .Register{
        position: relative;
        top: -100px;
    }
    .threefirstinput{
        position: relative;
        left: 20px;
        top: -1px;
        
    }
    .twolasttinput{
        position: relative;
        left: 20px;
        top: -1px;
       
    }
   

} 